<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iikoLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <iikoLauncher.Properties.Settings>
            <setting name="ConnectionListPath" serializeAs="String">
                <value>G:\Мой Диск\iikoLauncher\iikoLauncher.xml</value>
            </setting>
            <setting name="IikoLogin" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="IikoPassword" serializeAs="String">
                <value>cmVzdG8jdGVzdA==</value>
            </setting>
            <setting name="AnyDeskPassword" serializeAs="String">
                <value>VGIjMTQ3ODUy</value>
            </setting>
            <setting name="AnyDeskPath" serializeAs="String">
                <value>%ProgramFiles(x86)%\AnyDesk\AnyDesk.exe</value>
            </setting>
            <setting name="IikoRMSPath" serializeAs="String">
                <value>%ProgramW6432%\iiko\iikoRMS</value>
            </setting>
            <setting name="IikoChainPath" serializeAs="String">
                <value>%ProgramW6432%\iiko\iikoChain</value>
            </setting>
        </iikoLauncher.Properties.Settings>
    </userSettings>
</configuration>